<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Exclusive Products</h2>
                    <ul class="list-unstyled d-flex   justify-content-center ">
                        <li><a routerLink="arrival" class=" m-4  text-decoration-none text-danger fw-semibold  ">New Arrival</a></li>
                        <li><a routerLink="sellers" class=" m-4  text-decoration-none text-black fw-semibold">Best Sellers</a></li>
                        <li><a routerLink="featured" class=" m-4  text-decoration-none text-black fw-semibold">Featured</a></li>
                        <li><a routerLink="offer" class=" m-4  text-decoration-none text-black fw-semibold">Special Offer</a></li>
                    </ul>
                </div>
            </div>         
        </div>
    </div>
</section>

<router-outlet></router-outlet>